<a ng-repeat="x in tags">test {{x}}</a>

<div class="tag2" ng-repeat="x in tagsTwo"> 
    {{x.tag.name}} 
</div>
<div class="tag3" ng-repeat="x in tags3">
  {{x.name}}</div>
<ul>
  <li class="myclass" ng-repeat="item in items" ng-show="item.show">
    Hello {{item.name}}
    <br/> 
    Votes: {{item.votes}}
    <br/> 
    Global: {{global.name}}
    <br/>
    Show: {{item.show}}
    Show2: {{item.show2}}
    Name: {{item.name}}
    Votes: {{item.votes}}
    {{item.people}}
    People: <span ng-repeat="p in item.people">{{p}} test </span>
  </li>
</ul>

<p>
  Global: {{global.name}}
</p>

<p ng-hide="global.name">
  Hidden Global: {{global.name}}
</p>

<p ng-show="global.name2">
  Show global name
</p>
